body{
    background-color: black;
    color: aliceblue;
    text-align: center;
    
}
h1{
    font-size:xx-large;
    font-family: fantasy;
    font-style: italic;
    color: chartreuse;
}
.content{
    justify-content: space-around;
    display: flex;
    margin-top: 5px;
    margin-bottom: 15px;
}